<!DOCTYPE html>
<!--{% load static %}-->
<html>	
<head><meta charset="utf-8">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/home_js/jquery.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="../static/css/login_style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<style type="text/css">
	.help-block{
		display: none;
		color: red;
	}
	#logins{
		margin-top: 0;
	}
	
	
	</style>
</head>
<body>

<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
 <!--SIGN UP-->
 <div id="logins">
 <h1>XXX登陆入口</h1>
<div class="login-form" style="width: 400px; background-color: rgba(0, 0, 0, 0.5);">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="../static/img/login_images/avtar.png" />
	</div>
			<form action="{% url 'App:login' %}"  method="post" enctype="multipart/form-data">
				{% csrf_token %}
                <div>
					<input type="text" class="form-control" placeholder="Username" name="username">
					<p class="help-block">请输入6位以上用户名</p>
                </div>
                    <div class="key">
					<input type="password" class="form-control" placeholder="Password" id="pwd" name="password" >
					<p class="help-block" >请输入6位以上拼音字母组合密码</p>
					</div>
                    <div class="signin">
		            <input type="submit" value="登陆(Login)" >
	                </div>
			</form>
</div>
</div>
 <div class="copy-rights">
					<p></p>
			</div>
</body>
 <script>
        $('input[name=username]').blur(function() {
            val = this.value;

            if(val.length<6){
                $(this).data({'n':0});
                $(this).next().show();

            }else{
                $(this).data({'n':1});
                $(this).next().hide();

            }
        });
        $('#pwd').blur(function() {
          val = this.value;
          if(!val.match(/^[a-zA-Z]{6,}$/)){
              $(this).data({'n':0});
              $(this).next().show();
          }else{
              $(this).data({'n':1});
              $(this).next().hide();

          }
        });
        $('form').submit(function(){
            $('.form-control').blur();
            num=0;

            $('.form-control').each(function() {
                num+=$(this).data('n');
             });

            if(num!=2){
                return false;
            }
        });
    </script>
</html>