<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../static/js/home_js/jquery.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='http://fonts.useso.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="../static/css/regist_style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<style type="text/css">
	.help-block{
		color: red;
		display: none;
	}
</style>
</head>
<body>
<div class="log" style="margin-top:5px;">
	<div class="content2" style="border-radius:20px">
		<h2>注册成为XXX用户</h2>
		<form action="#" method="post" enctype="multipart/form-data" id="f1">
			<input type="text" value="USERNAME" name="username" class="form-control" id="name">
			<p class="help-block">请输入6位以上用户名</p>
			<input type="text" name="usrtel" placeholder="PHONE" id="ph" class="form-control">
			<p class="help-block">请输入正确格式手机号</p>
			<input type="email" name="email" value="EMAIL ADDRESS" class="form-control" id="mail">
			<p class="help-block">请输入正确格式邮箱</p>
			<input type="password" name="password" value="PASSWORD" placeholder="请输入密码" class="form-control" id="psw">
			<p class="help-block">请输入6位以上字母组合密码</p>
			<input type="password" name="repassword" value="PASSWORD" placeholder="请再次输入密码" class="form-control">
			<p class="help-block">两次输入密码不一致</p>
            <br>
            <br>
            <label style="font-size: 20px;font-weight: 700;margin-left:30px">
                请设置您的用户头像
            </label>
            <input type="file" name="img" id="con">
			<input type="submit" class="register" value="点击注册" id="btn">
		</form>
	</div>
	<div class="clear"></div>
</div>
<div class="footer">
	<p></p>
</div>
</body>
<script type="text/javascript">
$('input[name=username]').blur(function(){
    val=this.value;

    if(val.length<6 || val.length>16){
        $(this).data({'s':0});
        $(this).next().show();
    }else{
        $(this).data({'s':1});
        $(this).next().hide();
    }
});

$('input[name=password]').blur(function(){
    val=this.value;

    if(val.length<6 || !val.match(/^[A-Za-z]{5,}$/)){
        $(this).data({'s':0});
        $(this).next().show();
    }else{
        $(this).data({'s':1});
        $(this).next().hide();
    }
});
$('input[name=repassword]').blur(function(){
    val1=$('input[name=password]').val();
    val2=this.value;

    if(val1!=val2){
        $(this).data({'s':0});
        $(this).next().show();
    }else{
        $(this).data({'s':1});
        $(this).next().hide();
    }
});

$('input[name=email]').blur(function(){
    val=this.value;

    if(!val.match(/^\w+@\w+\.\w+$/i)){
        $(this).data({'s':0});
        $(this).next().show();
    }else{
        $(this).data({'s':1});
        $(this).next().hide();
    }
});

$('input[name=usrtel]').blur(function(){
    val=this.value;

    if(val.length!=11){
        $(this).data({'s':0});
        $(this).next().show();
    }else{
        $(this).data({'s':1});
        $(this).next().hide();
    }
});

$('form').submit(function(){
    $('.form-control').blur();
    tot=0;

    $('.form-control').each(function(){
        tot+=$(this).data('s');
    });
    console.log(tot)
    if(tot!=5){
        return false;
    }
    });
 </script>
<script>
    $('#btn').click(function () {
        $.ajax({
            type:'post',
{#            url定位到注册函数#}
            url:'/register/',
            success:function (data) {
                alert(data)
            }
        })
    })
</script>
</html>